In [2]:
import pandas as pd

In [3]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

In [4]:
file_name = 'yellow_tripdata_2021-01.csv.gz'

In [5]:
url = f'{prefix}/{file_name}'

In [6]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

In [7]:
parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [21]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    chunksize=100000,
)

In [22]:
!uv add sqlalchemy psycopg2-binary

Resolved 119 packages in 9ms
Audited 11 packages in 5ms

In [23]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [24]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [25]:
!uv add tqdm

Resolved 120 packages in 771ms
Prepared 1 package in 226ms
Installed 1 package in 9ms
 + tqdm==4.67.1

In [26]:
from tqdm.auto import tqdm

In [28]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    print(len(df))

0it [00:00, ?it/s]

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000